    <footer>
    <p id="foot"><small>CST336 Internet Programming. Created by Colin Steele  <br><Strong>Disclaimer:</Strong> For shcool purposes only.<br>Not for sale or use elsewhere. Thank you. </small></p>  </footer>