<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>A short list of Programming Languages</title>
    <link href="/CSS/styles.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>A short list of programming languages </h1>
    </header>
    <hr>
    <%- include ("partials/menu.ejs") %>
    <main>
      <div>
        <p>
        Programming languages are not all the same. Most have their own style, stenghts, and weeknesses. But that is a good thing because it means we have languages that are complicated but allow for a great deal of flexabilty in the ability to run a piece of code to find the desired result. Yet big and complicated is not always what is needed, which is why other languages are more minimal but less intnesive on resources and space. 

        <ul>
          <li>C++</li>
          <li>Basic</li>
          <li>Java</li>
          <li>Kotlin</li>
          <li>Python</li>
          <li>PHP</li>
          <li>SQL</li>
         <li>And so on......</li>
          </ul>
      </div> 

      <div>
      <figure>
        <img class="sideImage" src="img/languagesPic.jpg">
        <figcaption>
        php is a type of progrmaming language. Normally used in web develeopment.
        </figcaption>
      </figure>
      </div>
  </main>
  <div>
      <h4>Resoruces</h4>
      <a class= "resource" href="https://blog.devmountain.com/a-list-of-programming-languages-every-programmer-should-know-or-at-least-know-about/">List of programming languages</a>
  </div>
    <%- include ("partials/footer.ejs") %>
  </body>
</html>